 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
  }
  .heading{
    /* margin-bottom: 30px; */
    justify-content: center;
  }
  body{
    height: auto;
    background-color: #7a18e9;
  }
  .flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 600px;
    background-color: white;
    padding: 40px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 25% 50%;
    border-radius: 10px;
    box-shadow: rgb(226, 179, 24) 0 0 30px;
  }
  .scores{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
  }
  .options{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
  }
  .options button{
    background-color: #ffcf1b;
    color: black;
    border: none;
    font-size: 40px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* outline: none; */
    cursor: pointer;
  }
  /*-------------- Hover text is not working ---------------*/
  .hoverDiv{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  .hiddenText{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  .hoverDiv:hover .hiddenText{
    visibility: visible;
  }
  /* -------------------------------- */
  .details{
    margin-top: 25px;
    text-align: center;
  }
  .scores,.details{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
  }
  #result{
    width: 200px;
    padding: 10px 0;
    margin: 30px auto;
    font-weight: 700;
    letter-spacing: 1px;
  }
  #user_choice,
  #computer_choice{
    font-weight: 500;
    margin-bottom: 15px;
  }
  span{
    font-weight: 600;
  }
